# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

web/node_modules
*.local
.env

# python
**/__pycache__/
**/*.py[cod]
**/*$py.class

# duckdb
*.duckdb
*.wal

# Ignore files generated in build
web/public/tiles
web/public/api
web/dist
web/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm-store
